#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
    height: 100%;
    width: auto;
    object-fit: contain;
    padding-left: 5px;
    padding-right: 5px;
}

.toolbar {
    max-width: 100%;
    background-color: lightslategray;
    color: inherit;
    font-size: 25px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

.gallery {
    padding: 2rem;
}

.navbar {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 45px;
    border: 2px solid rgb(96 139 168);
}

.navbar-nav{
    width: 150px;
    display: flex;
    padding-left: 0px;
    margin: 0px;
}

.items-nav {
    width: 75px;
    list-style-type: none;
}

.company{
    font-size: 25px;
}

.browse-btn {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #e8e3e3;
    cursor: pointer;
    transition: border-color 0.25s;
}